@import 'tailwindcss';

@theme {
	--color-primary: #1e293b;
	--color-secondary: #4f46e5;
	--color-muted: #475569;

	--color-counter: #a5b4fc;
	--color-counter-bg: #eef2ff;

	--color-icon-primary: #94a3b8;

	--color-input-primary: #eef2ff;
	--color-input-border-primary: #c7d2fe;
	--color-input-text-primary: #475569;

	--color-btn-primary: #4f46e5;
	--color-btn-text-primary: #fff;
	--color-btn-border-primary: #4f46e5;

	--color-sidebar-border: #eef2ff;

	--color-status-success: #22c55e;
	--color-status-warning: #c58722;
	--color-status-error: #c52222;

	--animate-fade-in: fadeIn 0.15 linear;

	@keyframes fadeIn {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}
}

body {
	@apply text-primary text-base font-normal box-border m-0 p-0;
}

ul,
ol,
li {
	@apply outline-none border-none;
}

a {
	@apply text-inherit no-underline;
}
