@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
  html,
  body {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground text-base font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  section {
    @apply h-full;
  }
}
