@import 'tailwindcss';

@theme {
	--color-primary: #1e293b;
	--color-secondary: #4f46e5;
	--color-muted: #475569;

	--color-input-primary: #eef2ff;
	--color-input-border-primary: #c7d2fe;
	--color-input-text-primary: #475569;

	--color-btn-primary: #4f46e5;
	--color-btn-text-primary: #fff;
	--color-btn-border-primary: #4f46e5;
}

body {
	@apply text-primary text-base font-normal box-border m-0 p-0;
}

ul,
ol,
li {
	@apply outline-none border-none;
}

a {
	@apply text-secondary no-underline;
}