.login {
	padding: 32px;
	display: flex;
	height: 100%;
	gap: 32px;
	&__section {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.login__wrapper {
			max-width: 430px;
		}
	}
	&__image {
		position: relative;
		width: 50%;
        max-width: 1080px;
		height: 100%;
		img {
            object-fit: contain;
            object-position: center;
            border-radius: 24px;
        }
	}
}
