/* MAIN */
$color-primary: #f8fafc;
$color-secondary: #64748b;
$color-accent: #4f46e5;
$color-background: #ffffff;
$color-surface: #eef2ff;
$color-text: #1e293b;
$color-muted: #475569;
$color-error: #ef4444;
$color-success: #22c55e;
$color-warning: #f59e0b;
$color-info: #f59e0b;
$color-info: #f59e0b;

$color-white: #fff;
$color-black: #000;

/* POSTS */
$color-reaction-like: #f43f5e;

/* PROFILE */
$color-status: #22c55e;
$color-profile-activity: #15803d;

$font: var(--font-plus-jakarta);

/* MEDIA QUERIES */
$largeDesktop: 96rem;
$desktop: 80rem;
$laptop: 64rem;
$tablet: 48rem;
$smallTablet: 40rem;
$phone: 30rem;
$smallPhone: 20rem;
