@use '../variables';
/* 
    Guide about media queries

    - 2XL - 1535
    - XL - 1279
    - LG - 1023
    - MD - 767
    - SM - 639
    - XS 0 479
*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 .25rem;
  @media (width >= 20rem) {
    max-width: 20rem;
    padding: 0 1rem;
  }
  @media (width >= 30rem) {
    max-width: 30rem;
  }
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
}